<article class="archive-article">
  <div class="archive-article-date">
    <%- partial('post/date', { post: post, date_format: 'MMM D'}) %>
  </div>
  <div class="archive-article-inner">
    <%- partial('post/title', {
      hasLink: true
    }) %>
    <%- partial('post/tag') %>
  </div>
  <span id="busuanzi_container_page_pv">
        本文总阅读量<span id="busuanzi_value_page_pv"></span>次
  </span>
</article>
